@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    /* background-color: rgb(245, 238, 220); */
    background-color: rgb(249, 240, 229);
    /* color: rgb(129, 199, 132); */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* --- Nav Bar --- */
nav {
    background-color: rgb(16, 46, 80);    
    min-height: 10vh;
    width: 100%;
    font-size: clamp(16px, 2vw, 18px);
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
nav a
{
    text-decoration: none;
    color: rgb(255, 245, 245);
    font-weight: 600;
    /* border-bottom: 2px solid transparent; */
    /* padding: 0 2px; */
    /* transition: border-color 0.1s; */
}
.nav-link a:hover
{
    color: rgb(253, 216, 95);
    transform: scale(1.1) translate(0, -0.5px);
}
.nav-logo
{
    display: flex;
    justify-content: center;
    flex:1;

    /* border: 1px solid white; */
}
.nav-logo img
{
    display: flex;
    justify-content: center;
    height: auto;
    width: 2.5vw;
    /* border: 1px solid white; */

}
.nav-search
{
    display: flex;
    flex:2;
    justify-content: center;
    min-height: 4vh;
    /* border: 1px solid white; */

}
.nav-search-input
{
    margin-right: -3rem; 
    background-color: rgb(245, 238, 220);
    display: flex;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 20px;
    width: 75%;
    padding-left: 1rem; 
    font-size: 1vw;
    color: rgb(24, 59, 78);
    font-weight: 600;  
}
.nav-search-button
{
    background: transparent;
    border:transparent;
    cursor: pointer;
    filter:grayscale(0.9);
}
.nav-search-button:hover
{
    filter:grayscale(0.1);
}


/* OKOKOKOK */
.nav-link
{
    display: flex;
    flex: 2;  
    gap: 2vw;
    justify-content: end;
}
.auth-link
{
    display: flex;
    flex-direction: column;
    flex: 0.5;
    margin-left: 1.5vw;
    /* border: 2px solid white; */
}
.auth-link a
{
    
    margin-right: auto;
    /* border: 2px solid white; */
}
.auth-link a:hover
{
    color: rgb(253, 216, 95);
    /* transform: scale(1.1) translate(0, -0.5px); */
    cursor: pointer;
}
.auth-link-dropdown
{
    border-radius: 0.3rem;
    background-color:rgb(16, 46, 80);
    border: 2px solid rgb(245, 238, 220); 
    display: none;
    position: absolute;
    flex-direction: column;
    right: 7vw; 
    top: 7vh; 
    z-index: 999;
    gap: 0.6rem;
    padding: 0.4rem;
    
}
.auth-link-dropdown.show
{
    display: flex;
}
.auth-link-dropdown a
{
    color: rgb(255, 255, 255);
}
.auth-link-dropdown a:hover
{
    color: rgb(253, 216, 95);
    transform: scale(1.01) translate(0, -0.2px);
}


footer
{
    box-shadow: 0 -2px 10px rgba(146, 146, 146, 0.3);
    /* background-color: rgb(238, 186, 90); */
    background-color: rgb(249, 240, 229);

    color: rgb(16, 46, 80);
    min-height: 30vh;
    width: 100%;
    font-size: clamp(16px, 2vw, 18px);
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
.how-it-work
{   
    flex: 1;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(16, 46, 80);
    background-color: rgb(250, 245, 245);
}
.how-it-work h1
{
    /* border: 2px solid red; */
    font-size: 2rem;
    font-weight: 600;
    color: rgb(16, 46, 80);

}

.steps
{   
    /* border: 2px solid red; */
    width: 50%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* padding-top: 0.5rem; */
}
.info-banner
{
    flex: 2;
    display: flex;
    align-items: center;
    color: rgb(16, 46, 80);
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}
.info-banner h1
{
    font-size: 1.4rem;
    font-weight: 600;
}
.info-banner p
{
    font-size: 1rem;
}
.social-media
{
    /* border: 2px solid red; */
    background-color: rgb(16, 46, 80);
    color: white;
    border-radius: 0.5rem;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}
.social-media img
{
    width: 65%;
    height: 65%;
    /* object-fit:contain; */
    /* border: 2px solid red; */
    display: flex;
    padding: 0.2rem;
    /* justify-content: center; */
    /* align-items: center; */

}