main
{
    /* border:2px solid red ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:2;
    /* padding-top: 2rem; */
}
.top-banner
{
    /* border: 3px solid rgb(165, 36, 36); */
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}
.top-banner img
{
    width: 100%;
    height: 100%;
    border-radius: 0 0 3rem 3rem;
    object-fit:cover;
}
.top-banner-content 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
}
.top-banner-content .title {
    font-size: 4rem;
    font-weight: 600;
    /* border: 2px solid white; */
    flex: 5;
    margin-top: 1rem;
}
.top-banner-content .slogan
{
    font-size: 3rem;
    font-weight: 600;
    flex: 1.2;
    /* border: 2px solid white; */

} 
.top-banner-content .links
{
    flex: 2;
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-evenly;
    width: 45%;
}
.top-banner-content .links a
{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    background-color:rgb(255, 192, 27);
    margin-bottom: auto;
    padding: 0.4em 1.2em 0.4em 1.2em;
    border-radius: 1rem;
}
.mission-banner
{
    /* border: 2px solid red; */
    width: 95%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(16, 46, 80);
    height: 35vh;
}
.mission-banner-container
{
    width: 30%;
    /* border: 2px solid red; */
}
.mission-banner .header /* need to work on responsive */
{
    font-size: 2rem;
    font-weight: 600;
    /* border:2px solid red ; */

}
.mission-banner .detail /* need to work on responsive */
{
    font-size: 1rem;
    font-weight: 400;
    width: 95%;
    /* border:2px solid red ; */

}
.mission-banner img
{
    width: 80%;
    height: 80%;
    object-fit: contain;
    /* border: 2px solid red; */
    width: 30%;

}
.feature-pet
{
    width: 100%;
    height:65vh;
    /* border:2px solid red ; */
    background-color: rgb(250, 245, 245);

    color: rgb(16, 46, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.feature-pet-header
{
    flex: 1;
    /* border:2px solid red ; */
    display: flex;
    align-items:end;
}
.feature-pet-header h1
{
    font-weight: 600;
    font-size: 2rem;
    /* border:2px solid red ; */
}
.feattured-pet-container
{
    flex: 3;
    /* border:2px solid red ; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.featured-pet-option
{
    /* border:2px solid red ; */
    border-radius: 0.5rem;
    height: 95%;
    width:16%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.5rem 2rem rgb(230, 220, 210);
    /* background-color: rgb(249, 240, 229); */


}
.featured-pet-option-img
{
    /* border: 2px solid blueviolet; */
    flex: 5;
}
.featured-pet-option-img img
{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.featured-pet-option-title
{
    /* border: 2px solid rgb(0, 0, 0); */
    flex: 1;
    background-color: rgb(255, 255, 255);

}
.featured-pet-option-title h1
{
    font-weight: 700;
    color: rgb(16, 46, 80);
    font-size: 1.2rem;
    padding-top: 2%;
    padding-left: 5%;

}
.featured-pet-option-detail
{
    /* border: 2px solid blueviolet; */
    flex: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;



}
.featured-pet-option-detail h1
{
    font-weight: 400;
    color: rgb(16, 46, 80);
    font-size: 0.8rem;
    padding-left: 5%;
}
.feature-pet-link
{
    flex: 1;
    /* border:2px solid red ; */
    display: flex;
    align-items: center;
}
.feature-pet-link a
{
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: rgb(255, 192, 27);
    border: 1px solid rgb(216, 215, 215);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 2rem rgb(230, 240, 240);

}
.success-banner
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blueviolet; */
    height: 30vh;
    width: 70%;
}
.success-banner-img
{
    flex: 1;
    /* border: 2px solid blueviolet; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.success-banner-img img
{
    /* border: 2px solid red; */
    height: 70%;
    width:70%;
    object-fit:cover;
    border-radius:0.5rem;
    box-shadow: 0 0.5rem 2rem rgb(182, 182, 182);

}
.success-banner-text
{
    flex: 1;
    /* border: 2px solid blueviolet; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.success-banner-message
{
    color: rgb(16, 46, 80);
    font-weight: 600;
}
.success-banner-user
{
    color: rgb(16, 46, 80);
}
.bottom-banner
{
    /* border: 2px solid blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    align-items: center;
    width: 100%;
    height:20vh;
    background-color: rgb(255, 192, 27);
    color: rgb(250, 245, 245);
    font-size: 1.3rem;
}
.bottom-text h1 span
{
    color: rgb(250, 245, 245);
    font-weight: 700;
    font-size: 1.4rem;
}
.bottom-banner-link
{
    display: flex;
    justify-content:space-around;
    /* border: 2px solid red; */
    width: 25%;
}
.bottom-banner-link a
{
    background-color: rgb(255, 150, 50);
    color: rgb(230, 240, 240);
    text-decoration: none;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
}